.formcss{
    display:flex;
}
.header
{
    backgroundColor: '#50E3C2';
        justifyContent: 'space-around';
        height: 50
}

.left{
    flex: 1;
}
.body
{
   flex: 5;
}
.right {
    flex: 1
}
.buttonSave {
    backgroundColor: '#FF7A5A';
    height: 40;
    width: 90;
    justifyContent: 'center';
}
.textSave {
    fontSize: 18;
    paddingBottom: 5;
}
.content {
    flex: 1;
    margin: 10;
    flexDirection: 'column';
}
.image{
    alignItems: 'center';
    justifyContent: 'flex-end';
    width: 150;
    height: 150;
    borderRadius:40
}
.imageButton{
    fontSize: 100;
    opacity: 0.5;
}
.form {
    flexDirection: 'column';
    justifyContent: 'center';
    alignItems: 'stretch';
    marginRight: 15;
    marginBottom: 10
}
.input {
    height: 50;
}
.friendList {
    flex: 5;
    marginLeft: 12;
    marginRight: 12;
    marginBottom: 20;
}
.selectTextBox{
    flex: 5;
    marginLeft: 12;
}
.selectText {
    fontSize: 18;
    fontWeight: 'bold';
    color: 'grey';
}
.content{
    alignItems: 'center';
     flex: 2;
}
.profile
{
    height : "200";
    width : "200";
}
.label1
{
    font-size: 24px; 
    line-height: 140%; 
    margin: 16px 0 5px
}
.form-control{
    font-size: 32px; 
    height: 42px
}
.members
{
    margin-bottom: 10px
}
.invite
{
    font-size: 12px; line-height: 16px; color: #999; margin: -2px 0 12px;height: 10px;margin-bottom: 10px
}
.invitelink
{
    font-size: 14px;
    height: 20px; 
    width: 260px; 
    margin: 0
}
.add
{
    display: block; margin: 15px 0 10px; font-size: 13px; line-height: 13px
}
.image{
    height:300;
    width:300;
    float: left;
    margin-right: 25px;
}
.imageholder
{
    
}